* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    /*The box-sizing property is used to tell the browser what the sizing properties (width and height) should include border-box.*/
    box-sizing: border-box;
    /*reset Chrome user agent styles*/
    -webkit-margin-before: 0px;
    -webkit-margin-after: 0px;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-before: 0px;
    -webkit-padding-after: 0px;
    -webkit-padding-start: 0px;
    -webkit-padding-end: 0px;
}

html {
    height: 100%;
    background: url(roman-ruins-background.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body {
    max-width: 1000px;
    margin: 0 auto;
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 16px;
    /*    position: relative;*/
    height: 100%;
}

img {
    width: 100%;
    font-size: 0;
}

header {
    width: 80%;
    /* padding-left: 2em; */
    /* position: relative; */
    /* top: 50%; */
    transform: translateY(-50%);
    margin: 0 auto;
    margin-top: 40%;
}

header h1 {
    font-size: 3.5rem;
    color: white;
}

header form.js-search-form label {
    color: white;
    font-size: 1.8rem;
    font-family: 'Amiri', serif;
}

header form.js-search-form select {
    margin-top: .8rem;
    width: 40%;
    height: 1.5rem;
    font-family: 'Merriweather Sans', sans-serif;
}

header form.js-search-form button {
    width: 3rem;
    height: 1.5rem;
    font-family: 'Merriweather Sans', sans-serif;
}

main {
    background-color: rgba(255, 255, 255, 0.9);
    background-size: cover;
    /*    display: none;*/
}

main h3 {
    text-align: center;
    padding-top: 3rem;
    padding-bottom: 3rem;
    font-size: 2rem;
}

#results-page-wrapper {
    /*    display: none*/
}

main section.results-list ul {
    list-style: none;
    /*    display: inline-block;*/
}

main section.results-list ul li {
    /*    clear: left;*/
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-family: 'Amiri', serif;
    line-height: 1.4rem;
    font-size: 1.2rem;
    cursor: pointer;
    /*    display: inline-block;*/
    /*    margin: 0 auto;*/
}

main section.results-list ul li img {
    /*    width: 25%;*/
    max-width: 100%;
    float: left;
    margin-right: .8rem;
    margin-bottom: 1rem;
}

main section.item-description {
    /*    background-color: #ffffff;*/
    padding-left: 2rem;
    padding-right: 2rem;
    display: none;
}

main section.item-description-show {
    display: block
}

main section.item-description h4 {
    font-size: 1.2rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    text-align: center;
}

main section.item-description a {
    text-align: center;
    display: inline-block;
}

main section.item-description img.url-link {
    width: 70%;
    margin: 0 auto;
}

main section.item-description p {
    clear: left;
    padding-top: 2rem;
    font-family: 'Amiri', serif;
    line-height: 1.5rem;
    padding-bottom: 2rem;
    font-size: 1rem;
}


/*map styles
*/

#map_wrapper {
    height: 400px;
}

#map_canvas {
    width: 100%;
    height: 100%;
}


/*
footer {
    width: 100%;
    text-align: center;
    position: relative;
}
*/
